
<!-- pantalla terminada en fronend  
pantalla primaria ejemplo a todas  -->


<ion-content id="content">
  <ion-header>
    <ion-toolbar id="toolbarh" color="black">
      <ion-buttons slot="start">
        <ion-button>
          <img id="menus" [routerLink]="['/home']"  src="\assets\iconosmenu\menu.png">
        </ion-button>
      </ion-buttons>
    
  
          <ion-buttons  slot="end">
            <ion-button>
              <img id="menus" [routerLink]="['/home']"  src="\assets\iconosmenu\back-arrow.png">
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar id="toolbar" color="black">
    <ion-buttons slot="start">
      <ion-button>
        <img id="logoimperium"   src="\assets\logoImperium.png">
      </ion-button>
    </ion-buttons>
        <ion-title   id="labelh">Directory Provider</ion-title>
  </ion-toolbar>


  <!-- List of Text Items -->
  <ion-list mode="md"  *ngFor="let post of datos ">
    <ion-item >
      <img id="menus" [routerLink]="['/home']"  src="\assets\iconosmenu\usuario.png">br
      <ion-label id="label" >{{post.nombre}}</ion-label>
      <ion-label id="label" >{{post.tipoRegistro}}</ion-label>
    </ion-item>
    <hr>   
  </ion-list>

</ion-content>
