<!-- pantalla terminada en fronend  -->


<ion-content id="content">
  <ion-toolbar id="toolbar" color="black">
    <ion-buttons slot="start">
      <ion-button>
        <img id="logoimperium"   src="\assets\logoImperium.png">
      </ion-button>
    </ion-buttons>
  
     
        <ion-title slot="secondary" id="labelh">ADMINISTRADOR</ion-title>
    
  </ion-toolbar>

  
<ion-card >
  <ion-grid>
    <ion-row class="top-10">
      <ion-col size="6" [routerLink]="['/access']">
        <img id="logo"src="\assets\iconosmenu\accesos.png">
        <br>
         <label id="label">Accesos</label>
    </ion-col>
      
    <ion-col size="6" [routerLink]="['/common-areas']">
      <img id="logo"src="\assets\iconosmenu\reservaciones.png">
      <br>
      <label id="label">Areas comunes</label>
    </ion-col>

    <ion-col size="6" [routerLink]="['/defaulters']">
      <img id="logo"src="\assets\iconosmenu\comunicados.png">
      <br>
      <label id="label">control morosidad</label>
    </ion-col>

    <ion-col size="6"  [routerLink]="['/security-attencion']">
      <img id="logo"src="\assets\iconosmenu\emergencias.png">
      <br>
      <label id="label">Seguridad y atencion</label>
    </ion-col>



    
      
  

    </ion-row>
  </ion-grid>
    <!-- <img id="logo"src="\assets\logoImperium.png"> -->
 
</ion-card>
  <!-- <app-explore-container id="titulos" name="Tab 1 page"></app-explore-container> -->
</ion-content>